In [210]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [211]:
# Display the Total player count
unique_player_df = pd.DataFrame(purchase_data[["SN", "Gender"]])
# print(f"Total Player Count: {len(unique_player_df)}")
unique_player_df["SN"].value_counts()

Lisosia93       5
Idastidru52     4
Iral74          4
Lisim78         3
Chanastnya43    3
               ..
Lisassa64       1
Ethrasyon38     1
Iskosian40      1
Chamossa77      1
Aeral97         1
Name: SN, Length: 576, dtype: int64

In [213]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
unique_item_name = purchase_data["Item Name"].unique()
unique_item_name = len(unique_item_name)
unique_item_name
average_price = purchase_data["Price"].mean()
average_price
purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [214]:
# Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
unique_player_df.value_counts()
# gender_data = (pd.DataFrame(purchase_data["Gender"]))
# gender_data.groupby(["Male"])["Gender"].count()

SN            Gender
Lisosia93     Male      5
Iral74        Male      4
Idastidru52   Male      4
Asur53        Male      3
Inguron55     Male      3
                       ..
Hala31        Male      1
Haisurra41    Female    1
Hailaphos89   Male      1
Haestyphos66  Male      1
Iskosian40    Male      1
Length: 576, dtype: int64

                         0
Gender
Male                   652
Female                 113
Other / Non-Disclosed   15

In [ ]:
# Most Profitable Items
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame