In [264]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pd_df = purchase_data
pd_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [191]:
# Display the Total player count
unique_player_df = pd.DataFrame(purchase_data[["SN", "Gender"]])
unique_player = unique_player_df["SN"].unique()
print(f"Total Player Count: {len(unique_player)}")

Total Player Count: 576

In [192]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
unique_item_name = purchase_data["Item Name"].unique()
unique_item_name = len(unique_item_name)

average_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
print(unique_item_name, average_price, purchases, total_revenue)

179 3.050987179487176 780 2379.77

In [193]:
# gender_demo_df = pd.DataFrame(purchase_data[["SN", "Gender"]].value_counts())

gender_demo_df = purchase_data[["SN", "Gender"]]
gender_demo_df = gender_demo_df.drop_duplicates(subset="SN")
gender_demo_df.sort_values("Gender")
female_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Female"]
male_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Male"]
other_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Other / Non-Disclosed"]
# Gender Demographics
# Percentage and Count of Male Players      
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
print("Gender Stats:")
print(f"Male Players: {len(male_count)} : {(len(male_count) / len(gender_demo_df))*100}")
print(f"Female Players: {len(female_count)} : {(len(female_count) / len(gender_demo_df))*100}")
print(f"Other Players: {len(other_count)} : {(len(other_count) / len(gender_demo_df))*100}")

Gender Stats:
Male Players: 484 : 84.02777777777779
Female Players: 81 : 14.0625
Other Players: 11 : 1.9097222222222223

In [194]:
# Purchasing Analysis (Gender)
# The below each broken by gender

# Purchase Count
purch_count = pd_df["Gender"].value_counts()

# Average Purchase Price
avg_purch_price = pd_df.groupby("Gender")["Price"].mean()

# Total Purchase Value
total_purch_value = pd_df.groupby("Gender")["Price"].sum()

# Average Purchase Total per Person by Gender
avg_purch_by_gender = pd_df.groupby(["SN", "Gender"]).sum()
avg_purch_by_gender = pd.DataFrame(avg_purch_by_gender)
avg_purch_by_gender = (avg_purch_by_gender.groupby("Gender")["Price"].mean()).map("${:.2f}".format)

In [201]:
age_demo.sum()

Age Range    780
dtype: int64

In [197]:
# Age Demographics
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 39.9, 1000]
age_labels = [" <10", "10-14", "15-19", "20-24", "25-29", "30-39", "40+"]

#purchase analysis df
pa_df = purchase_data
pa_df["Age Range"] = pd.cut(pa_df["Age"], bins, labels=age_labels)
age_demo = pd.DataFrame(pa_df["Age Range"].value_counts())
age_demo = age_demo.sort_index()
age_demo = age_demo.reset_index()
age_demo = age_demo.rename(columns={"index": "Groups"})

# Get Percentages of Players





# percentages = percentages.reset_index()
# percentages = percentages.rename(columns={"index": "Groups"})


# a = pd.merge(age_demo, percentages, on="Groups")
# # ???? Merging??


# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

  Groups  Age Range
0    <10         23
1  10-14         28
2  15-19        136
3  20-24        365
4  25-29        101
5  30-39        114
6    40+         13

In [30]:
purchase_data["Age"]

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [136]:
a

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10

In [189]:
c

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisosia93,74,25,Male,89,"Blazefury, Protector of Delusions",4.64
Lisosia93,120,25,Male,24,Warped Fetish,3.81
Lisosia93,224,25,Male,157,"Spada, Etcher of Hatred",4.80
Lisosia93,603,25,Male,132,Persuasion,3.19
Lisosia93,609,25,Male,40,Second Chance,2.52
Idastidru52,290,24,Male,147,"Hellreaver, Heirloom of Inception",4.93
Idastidru52,490,24,Male,148,"Warmonger, Gift of Suffering's End",4.03
Idastidru52,543,24,Male,121,Massacre,1.60
Idastidru52,676,24,Male,111,Misery's End,4.89
Chamjask73,222,22,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
Chamjask73,520,22,Female,109,"Downfall, Scalpel Of The Emperor",4.76
Chamjask73,564,22,Female,52,Hatred,4.84
Iral74,128,21,Male,58,"Freak's Bite, Favor of Holy Might",4.14
Iral74,623,21,Male,114,Yearning Mageblade,3.82
Iral74,758,21,Male,182,Toothpick,4.03
Iral74,776,21,Male,164,Exiled Doomblade,1.63
Iskadarya95,148,20,Male,148,"Warmonger, Gift of Suffering's End",4.03
Iskadarya95,247,20,Male,82,Nirvana,4.90
Iskadarya95,318,20,Male,91,Celeste,4.17

In [218]:
# Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Most Popular Items

# SN
a = pd_df.groupby("SN").sum()
a = a.sort_values(by="Price", ascending=False).head(5)
list = ["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"]

# Purchase Count - Grouped by SN, Sorted on highest Purchase count
c = pd_df.set_index("SN")
c = c.loc[list, :]
c = c.groupby("SN")["Purchase ID"].count()

# Average Purchase Price
d = pd.merge(a, c, on="SN")
d

d["Average Purchase Price"] = (d["Price"] / d["Purchase ID_y"]).map("${:.2f}".format)
d = d.rename(columns={"Purchase ID_y": "Purchase Count", "Price": "Total Purchase Value"})
d = d[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
d

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

In [219]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [283]:
# Identify the 5 most popular items by purchase count, then list (in a table):
item_name = pd_df.groupby("Item Name").count()
pop_items = item_name.sort_values(by="Purchase ID", ascending=False)
pop_items = pop_items.reset_index()

item_price = pd_df.groupby("Item Name")["Price"].sum()
e = item_price.loc[pop_items["Item Name"]]
e

pop_items = pd.merge(pop_items, e, on="Item Name")
pop_items = pd.merge(pop_items, pd_df)


# e = purchase_data
# e
# e = e.rename(columns={"Purchase ID":"Purchase Count"})
# e = e["Purchase Count"]



# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
# Most Profitable Items

In [285]:
pop_items.head(10)

,Item Name,Purchase ID,SN,Age,Gender,Item ID,Price_x,Price_y
0,Final Critic,13,13,13,13,13,13,59.99
1,"Oathbreaker, Last Hope of the Breaking Storm",12,12,12,12,12,12,50.76
2,Persuasion,9,9,9,9,9,9,28.99
3,Nirvana,9,9,9,9,9,9,44.10
4,"Extraction, Quickblade Of Trembling Hands",9,9,9,9,9,9,31.77
5,Fiery Glass Crusader,9,9,9,9,9,9,41.22
6,"Pursuit, Cudgel of Necromancy",8,8,8,8,8,8,8.16
7,Brutality Ivory Warmace,8,8,8,8,8,8,19.36
8,Singed Scalpel,8,8,8,8,8,8,34.80
9,"Shadow Strike, Glory of Ending Hope",8,8,8,8,8,8,25.28

In [277]:
item_price

Item Name
Abyssal Shard                      13.35
Aetherius, Boon of the Blessed     16.95
Agatha                             18.48
Alpha                               6.21
Alpha, Oath of Zeal                12.15
                                   ...
Wolf                               28.32
Wolf, Promise of the Moonwalker    26.88
Worldbreaker                       10.40
Yearning Crusher                   12.54
Yearning Mageblade                 19.10
Name: Price, Length: 179, dtype: float64

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value