In [86]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
# Display the Total player count
unique_player_df = pd.DataFrame(purchase_data[["SN", "Gender"]])
unique_player = unique_player_df["SN"].unique()
print(f"Total Player Count: {len(unique_player)}")

Total Player Count: 576

In [3]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
unique_item_name = purchase_data["Item Name"].unique()
unique_item_name = len(unique_item_name)

average_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
print(unique_item_name, average_price, purchases, total_revenue)

179 3.050987179487176 780 2379.77

In [4]:
# gender_demo_df = pd.DataFrame(purchase_data[["SN", "Gender"]].value_counts())

gender_demo_df = purchase_data[["SN", "Gender"]]
gender_demo_df = gender_demo_df.drop_duplicates(subset="SN")
gender_demo_df.sort_values("Gender")
female_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Female"]
male_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Male"]
other_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Other / Non-Disclosed"]
# Gender Demographics
# Percentage and Count of Male Players      
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
print("Gender Stats:")
print(f"Male Players: {len(male_count)} : {(len(male_count) / len(gender_demo_df))*100}")
print(f"Female Players: {len(female_count)} : {(len(female_count) / len(gender_demo_df))*100}")
print(f"Other Players: {len(other_count)} : {(len(other_count) / len(gender_demo_df))*100}")

Gender Stats:
Male Players: 484 : 84.02777777777779
Female Players: 81 : 14.0625
Other Players: 11 : 1.9097222222222223

In [15]:
# Purchasing Analysis (Gender)
# The below each broken by gender


pd_df = purchase_data
# Purchase Count
# pd_df["Gender"].value_counts()

# Average Purchase Price
# pd_df.groupby("Gender")["Price"].mean()

# Total Purchase Value
# pd_df.groupby("Gender")["Price"].sum()

# Average Purchase Total per Person by Gender
# avg_purch_by_gender = pd_df.groupby(["SN", "Gender"]).sum()
# avg_purch_by_gender = pd.DataFrame(avg_purch_by_gender)
# avg_purch_by_gender = (avg_purch_by_gender.groupby("Gender")["Price"].mean()).map("${:.2f}".format)

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

Gender
Female                   $4.47
Male                     $4.07
Other / Non-Disclosed    $4.56
Name: Price, dtype: object

In [87]:
pd_df.sort_values("SN")

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28,15-19
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,30-39
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
630,630,Aelaria33,23,Male,171,Scalpel,1.79,20-24
...,...,...,...,...,...,...,...,...
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
141,141,Zhisrisu83,10,Male,60,Wolf,3.54,10-14
560,560,Zontibe81,21,Male,2,Verdict,2.48,20-24
442,442,Zontibe81,21,Male,84,Arcane Gem,3.79,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24

In [9]:
# Age Demographics
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 39.9, 1000]
age_labels = [" <10", "10-14", "15-19", "20-24", "25-29", "30-39", "40+"]

#purchase analysis df
pa_df = purchase_data
pa_df["Age Range"] = pd.cut(pa_df["Age"], bins, labels=age_labels)
age_demo = pd.DataFrame(pa_df["Age Range"].value_counts())
age_demo = age_demo.sort_index()
age_demo = age_demo.reset_index()
age_demo = age_demo.rename(columns={"index": "Groups"})

# Get Percentages of Players
age_demo["Age Range"]




# percentages = percentages.reset_index()
# percentages = percentages.rename(columns={"index": "Groups"})


# a = pd.merge(age_demo, percentages, on="Groups")
# # ???? Merging??


# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

0     23
1     28
2    136
3    365
4    101
5    114
6     13
Name: Age Range, dtype: int64

In [30]:
purchase_data["Age"]

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [ ]:
# Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Most Popular Items

In [ ]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
# Most Profitable Items

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value