In [45]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pd_df = purchase_data
pd_df

#Establishing Style Dictionary (For Styling Later!)
style_dict = {}
style_dict = {
    'Item Price': '${:.2f}', 
    'Total Purchase Value': '${:.2f}', 
    'Average Price': '${:.2f}', 
    'Average Purchase Price': '${:.2f}',
    'Total Revenue': '${:,.2f}',
    'Percentage of Players': '{:,.2f}%',
    "Avg Total Purchase per Person": 
}

In [46]:
# Display the Total player count
unique_player_df = pd.DataFrame(purchase_data[["SN", "Gender"]])
unique_player = unique_player_df["SN"].unique()
unique_player = len(unique_player)
total_players_df = pd.DataFrame({"Total Players": [unique_player]})
total_players_df

   Total Players
0            576

In [47]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
unique_item_name = purchase_data["Item Name"].unique()
unique_item_name = len(unique_item_name)

average_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
purch_analysis = pd.DataFrame({
    "Number of Unique Items": [unique_item_name],
    "Average Price": [average_price],
    "Number of Purchases": [purchases],
    "Total Revenue": [total_revenue]
})
purch_analysis.style.format(style_dict)

In [48]:
# Getting the values for the different gender lists

gender_demo_df = purchase_data[["SN", "Gender"]]
gender_demo_df = gender_demo_df.drop_duplicates(subset="SN")
gender_demo_df.sort_values("Gender")
female_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Female"]
male_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Male"]
other_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Other / Non-Disclosed"]

# Gender Demographics
# Percentage and Count of Male Players      
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

gender_demo_stats = pd.DataFrame({
    "": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [len(male_count), len(female_count), len(other_count)],
    "Percentage of Players": [(len(male_count) / len(gender_demo_df))*100, (len(female_count) / len(gender_demo_df))*100, (len(other_count) / len(gender_demo_df))*100]
})
gender_demo_stats = gender_demo_stats.set_index("")
gender_demo_stats = gender_demo_stats.style.format(style_dict)
gender_demo_stats

In [130]:
# Purchasing Analysis (Gender)
# The below each broken by gender
genders = pd_df.groupby("Gender")["Price"].count()

# Purchase Count
purch_count = pd_df.groupby("Gender")["Gender"].count()

# Average Purchase Price
avg_purch_price = pd_df.groupby("Gender")["Price"].mean()

# Total Purchase Value
total_purch_value = pd_df.groupby("Gender")["Price"].sum()

# Average Purchase Total per Person by Gender
avg_purch_by_gender = pd_df.groupby(["SN", "Gender"]).sum()
avg_purch_by_gender = pd.DataFrame(avg_purch_by_gender)
avg_purch_by_gender = (avg_purch_by_gender.groupby("Gender")["Price"].mean())
avg_purch_by_gender

purch_analysis_gender = pd.DataFrame({
    "Purchase Count": purch_count,
    "Average Purchase Price": avg_purch_price,
    "Total Purchase Value": total_purch_value,
    "Avg Total Purchase per Person": avg_purch_by_gender
})

In [131]:
purch_analysis_gender.style.format(style_dict)

In [54]:
# Age Demographics
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 39.9, 1000]
age_labels = [" <10", "10-14", "15-19", "20-24", "25-29", "30-39", "40+"]

#purchase analysis df
pa_df = purchase_data
pa_df["Age Range"] = pd.cut(pa_df["Age"], bins, labels=age_labels)
age_demo = pd.DataFrame(pa_df["Age Range"].value_counts())
age_demo = age_demo.sort_index()
age_demo = age_demo.reset_index()
age_demo = age_demo.rename(columns={"index": "Groups"})

# Get Percentages of Players





# percentages = percentages.reset_index()
# percentages = percentages.rename(columns={"index": "Groups"})


# a = pd.merge(age_demo, percentages, on="Groups")
# # ???? Merging??


# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

In [55]:
purchase_data["Age"]

0      20
1      40
2      24
3      24
4      23
       ..
775    21
776    21
777    20
778     7
779    24
Name: Age, Length: 780, dtype: int64

In [56]:
a

NameError: name 'a' is not defined

In [57]:
c

NameError: name 'c' is not defined

In [74]:
# Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Most Popular Items

# SN
a = pd_df.groupby("SN").sum()
a = a.sort_values(by="Price", ascending=False).head(5)
list = ["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"]

# Purchase Count - Grouped by SN, Sorted on highest Purchase count
c = pd_df.set_index("SN")
c = c.loc[list, :]
c = c.groupby("SN")["Purchase ID"].count()

# Average Purchase Price
d = pd.merge(a, c, on="SN")

d["Average Purchase Price"] = (d["Price"] / d["Purchase ID_y"])
d = d.rename(columns={"Purchase ID_y": "Purchase Count", "Price": "Total Purchase Value"})
d = d[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
d = pd.DataFrame(d)
d.style.format(style_dict)

In [79]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
# Most Profitable Items

# Calculations 
item_name = pd_df.groupby("Item Name").count()
pop_items = item_name.sort_values(by="Purchase ID", ascending=False)
pop_items = pop_items.reset_index()

item_price = pd_df.groupby("Item Name")["Price"].sum()
e = item_price.loc[pop_items["Item Name"]]
pop_items = pd.merge(pop_items, e, on="Item Name")

# Put Item ID & Item Price back into pop_items table for items
#     Find right item name and match columns

item_ids = pd_df.groupby("Item Name")["Item ID"].first()
item_prices = pd_df.groupby("Item Name")["Price"].first()

pop_items = pd.merge(pop_items, item_ids, on="Item Name")
pop_items = pd.merge(pop_items, item_prices, on="Item Name")

# Column Manipulation
most_pop_items = pop_items[["Item ID_y", "Item Name", "Purchase ID", "Price", "Price_y"]]

most_pop_items = most_pop_items.rename(columns={
    "Item ID_y": "Item ID",
    "Purchase ID": "Purchase Count",
    "Price": "Item Price",
    "Price_y": "Total Purchase Value"
})

# Set Index to Item ID
most_pop_items = most_pop_items.set_index('Item ID')

# Sorting and Displaying
most_pop_items = most_pop_items.sort_values(by=["Purchase Count", "Item ID"], ascending=False)
most_pop_items.head(5).style.format(style_dict)

In [76]:
# Most Profitable Items

In [78]:
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame
most_prof_items = most_pop_items
most_prof_items = most_prof_items.sort_values(by="Total Purchase Value", ascending=False)
most_prof_items.head(5).style.format(style_dict)