In [72]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pd_df = purchase_data
pd_df

#Establishing Style Dictionary (For Styling Later!)
style_dict = {}
style_dict = {
    'Item Price': '${:.2f}', 
    'Total Purchase Value': '${:.2f}', 
    'Average Purchase Price': '${:.2f}'
}

In [111]:
# Display the Total player count
unique_player_df = pd.DataFrame(purchase_data[["SN", "Gender"]])
unique_player = unique_player_df["SN"].unique()
print(f"Total Player Count: {len(unique_player)}")

Total Player Count: 576

In [74]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
unique_item_name = purchase_data["Item Name"].unique()
unique_item_name = len(unique_item_name)

average_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
print(unique_item_name, average_price, purchases, total_revenue)

179 3.050987179487176 780 2379.77

In [75]:
# gender_demo_df = pd.DataFrame(purchase_data[["SN", "Gender"]].value_counts())

gender_demo_df = purchase_data[["SN", "Gender"]]
gender_demo_df = gender_demo_df.drop_duplicates(subset="SN")
gender_demo_df.sort_values("Gender")
female_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Female"]
male_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Male"]
other_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Other / Non-Disclosed"]
# Gender Demographics
# Percentage and Count of Male Players      
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
print("Gender Stats:")
print(f"Male Players: {len(male_count)} : {(len(male_count) / len(gender_demo_df))*100}")
print(f"Female Players: {len(female_count)} : {(len(female_count) / len(gender_demo_df))*100}")
print(f"Other Players: {len(other_count)} : {(len(other_count) / len(gender_demo_df))*100}")

Gender Stats:
Male Players: 484 : 84.02777777777779
Female Players: 81 : 14.0625
Other Players: 11 : 1.9097222222222223

In [76]:
# Purchasing Analysis (Gender)
# The below each broken by gender

# Purchase Count
purch_count = pd_df["Gender"].value_counts()

# Average Purchase Price
avg_purch_price = pd_df.groupby("Gender")["Price"].mean()

# Total Purchase Value
total_purch_value = pd_df.groupby("Gender")["Price"].sum()

# Average Purchase Total per Person by Gender
avg_purch_by_gender = pd_df.groupby(["SN", "Gender"]).sum()
avg_purch_by_gender = pd.DataFrame(avg_purch_by_gender)
avg_purch_by_gender = (avg_purch_by_gender.groupby("Gender")["Price"].mean()).map("${:.2f}".format)

In [77]:
age_demo.sum()

NameError: name 'age_demo' is not defined

In [78]:
# Age Demographics
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 39.9, 1000]
age_labels = [" <10", "10-14", "15-19", "20-24", "25-29", "30-39", "40+"]

#purchase analysis df
pa_df = purchase_data
pa_df["Age Range"] = pd.cut(pa_df["Age"], bins, labels=age_labels)
age_demo = pd.DataFrame(pa_df["Age Range"].value_counts())
age_demo = age_demo.sort_index()
age_demo = age_demo.reset_index()
age_demo = age_demo.rename(columns={"index": "Groups"})

# Get Percentages of Players





# percentages = percentages.reset_index()
# percentages = percentages.rename(columns={"index": "Groups"})


# a = pd.merge(age_demo, percentages, on="Groups")
# # ???? Merging??


# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

In [79]:
purchase_data["Age"]

0      20
1      40
2      24
3      24
4      23
       ..
775    21
776    21
777    20
778     7
779    24
Name: Age, Length: 780, dtype: int64

In [80]:
a

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10

In [81]:
c

SN
Chamjask73     3
Idastidru52    4
Iral74         4
Iskadarya95    3
Lisosia93      5
Name: Purchase ID, dtype: int64

In [108]:
# Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Most Popular Items

# SN
a = pd_df.groupby("SN").sum()
a = a.sort_values(by="Price", ascending=False).head(5)
list = ["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"]
a

# Purchase Count - Grouped by SN, Sorted on highest Purchase count
c = pd_df.set_index("SN")
c = c.loc[list, :]
c = c.groupby("SN")["Purchase ID"].count()
c

# Average Purchase Price
d = pd.merge(a, c, on="SN")
d

d["Average Purchase Price"] = (d["Price"] / d["Purchase ID_y"]).map("${:.2f}".format)
d = d.rename(columns={"Purchase ID_y": "Purchase Count", "Price": "Total Purchase Value"})
d = d[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
d

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

In [99]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
# Most Profitable Items

# Calculations 
item_name = pd_df.groupby("Item Name").count()
pop_items = item_name.sort_values(by="Purchase ID", ascending=False)
pop_items = pop_items.reset_index()

item_price = pd_df.groupby("Item Name")["Price"].sum()
e = item_price.loc[pop_items["Item Name"]]
pop_items = pd.merge(pop_items, e, on="Item Name")

# Put Item ID & Item Price back into pop_items table for items
#     Find right item name and match columns

item_ids = pd_df.groupby("Item Name")["Item ID"].first()
item_prices = pd_df.groupby("Item Name")["Price"].first()

pop_items = pd.merge(pop_items, item_ids, on="Item Name")
pop_items = pd.merge(pop_items, item_prices, on="Item Name")

# Column Manipulation
most_pop_items = pop_items[["Item ID_y", "Item Name", "Purchase ID", "Price", "Price_y"]]

most_pop_items = most_pop_items.rename(columns={
    "Item ID_y": "Item ID",
    "Purchase ID": "Purchase Count",
    "Price": "Item Price",
    "Price_y": "Total Purchase Value"
})

# Set Index to Item ID
most_pop_items = most_pop_items.set_index('Item ID')

# Sorting and Displaying
most_pop_items = most_pop_items.sort_values(by=["Purchase Count", "Item ID"], ascending=False)
most_pop_items.head(10).style.format(style_dict)

In [86]:
# Most Profitable Items

In [104]:
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame
most_prof_items = most_pop_items
most_prof_items = most_prof_items.sort_values(by="Total Purchase Value", ascending=False)
most_prof_items.head(10).style.format(style_dict)

NameError: name 'df' is not defined

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value