In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
# Display the Total player count
unique_player_df = pd.DataFrame(purchase_data[["SN", "Gender"]])
unique_player = unique_player_df["SN"].unique()
print(f"Total Player Count: {len(unique_player)}")

Total Player Count: 576

In [4]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
unique_item_name = purchase_data["Item Name"].unique()
unique_item_name = len(unique_item_name)

average_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
print(unique_item_name, average_price, purchases, total_revenue)

179 3.050987179487176 780 2379.77

In [5]:
# gender_demo_df = pd.DataFrame(purchase_data[["SN", "Gender"]].value_counts())

gender_demo_df = purchase_data[["SN", "Gender"]]
gender_demo_df = gender_demo_df.drop_duplicates(subset="SN")
gender_demo_df.sort_values("Gender")
female_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Female"]
male_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Male"]
other_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Other / Non-Disclosed"]
# Gender Demographics
# Percentage and Count of Male Players      
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
print("Gender Stats:")
print(f"Male Players: {len(male_count)} : {(len(male_count) / len(gender_demo_df))*100}")
print(f"Female Players: {len(female_count)} : {(len(female_count) / len(gender_demo_df))*100}")
print(f"Other Players: {len(other_count)} : {(len(other_count) / len(gender_demo_df))*100}")

Gender Stats:
Male Players: 484 : 84.02777777777779
Female Players: 81 : 14.0625
Other Players: 11 : 1.9097222222222223

In [6]:
# Purchasing Analysis (Gender)
# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

In [28]:
# Age Demographics

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 39.9, 49.9, 1000]
age_labels = ["Below 10", "10-14", "15-19", "20-24", "25-29", "30-39", "40+"]
gender_demo_df["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
gender_demo_df["Age Range"].value_counts()

# Purchase Count


# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

20-24       258
15-19       107
30-39        83
25-29        77
10-14        22
Below 10     17
40-49        12
50-59         0
60-69         0
70+           0
Name: Age Range, dtype: int64

In [30]:
purchase_data["Age"].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [ ]:
# Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Most Popular Items

In [ ]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
# Most Profitable Items

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value