In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pd_df = purchase_data
pd_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
#Establishing Style Dictionary (For Styling Later!)
style_dict = {}
style_dict = {
    'Item Price': '${:.2f}', 
    'Total Purchase Value': '${:.2f}', 
    'Average Price': '${:.2f}', 
    'Average Purchase Price': '${:.2f}',
    'Total Revenue': '${:,.2f}',
    'Percentage of Players': '{:,.2f}%',
    "Avg Total Purchase per Person": '${:.2f}'
}

In [3]:
# Display the Total player count
unique_player_df = pd.DataFrame(purchase_data[["SN", "Gender"]])
unique_player = unique_player_df["SN"].unique()
unique_player = len(unique_player)
total_players_df = pd.DataFrame({"Total Players": [unique_player]})
total_players_df

   Total Players
0            576

In [4]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
unique_item_name = purchase_data["Item Name"].unique()
unique_item_name = len(unique_item_name)

average_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
purch_analysis = pd.DataFrame({
    "Number of Unique Items": [unique_item_name],
    "Average Price": [average_price],
    "Number of Purchases": [purchases],
    "Total Revenue": [total_revenue]
})
purch_analysis.style.format(style_dict)

In [5]:
# Getting the values for the different gender lists

gender_demo_df = purchase_data[["SN", "Gender"]]
gender_demo_df = gender_demo_df.drop_duplicates(subset="SN")
gender_demo_df.sort_values("Gender")
female_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Female"]
male_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Male"]
other_count = gender_demo_df.loc[gender_demo_df["Gender"] == "Other / Non-Disclosed"]

# Gender Demographics
# Percentage and Count of Male Players      
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

gender_demo_stats = pd.DataFrame({
    "": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [len(male_count), len(female_count), len(other_count)],
    "Percentage of Players": [(len(male_count) / len(gender_demo_df))*100, (len(female_count) / len(gender_demo_df))*100, (len(other_count) / len(gender_demo_df))*100]
})
gender_demo_stats = gender_demo_stats.set_index("")
gender_demo_stats = gender_demo_stats.style.format(style_dict)
gender_demo_stats

In [6]:
# Purchasing Analysis (Gender)
# The below each broken by gender
genders = pd_df.groupby("Gender")["Price"].count()

# Purchase Count
purch_count = pd_df.groupby("Gender")["Gender"].count()

# Average Purchase Price
avg_purch_price = pd_df.groupby("Gender")["Price"].mean()
avg_purch_price

# Total Purchase Value
total_purch_value = pd_df.groupby("Gender")["Price"].sum()

# Average Purchase Total per Person by Gender
avg_purch_by_gender = pd_df.groupby(["SN", "Gender"]).sum()
avg_purch_by_gender = pd.DataFrame(avg_purch_by_gender)
avg_purch_by_gender = (avg_purch_by_gender.groupby("Gender")["Price"].mean())
avg_purch_by_gender

purch_analysis_gender = pd.DataFrame({
    "Purchase Count": purch_count,
    "Average Purchase Price": avg_purch_price,
    "Total Purchase Value": total_purch_value,
    "Avg Total Purchase per Person": avg_purch_by_gender
})
purch_analysis_gender.style.format(style_dict)

In [7]:
# Age Demographics
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]
age_labels = [" <10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Establishing x as unique users DF
x = gender_demo_df.drop_duplicates(subset="SN")
x

#purchase analysis df
pa_df = purchase_data
x["Age Range"] = pd.cut(pa_df["Age"], bins, labels=age_labels)
age_demo = pd.DataFrame(x["Age Range"].value_counts())
age_demo

# Get Percentages of Players and add to DF
y = sum(age_demo["Age Range"])
age_demo["Percentage of Players"] = (age_demo["Age Range"] / y) * 100
age_demo = age_demo.sort_index()
age_demo.style.format(style_dict)

In [8]:
# Purchase Count
# Average Purchase Price
# Total Purchase Value

abc = pd_df
zz = purchase_data
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]
age_labels = [" <10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
zz["Age Ranges"] = pd.cut(zz["Age"], bins, labels=age_labels)
zz = pd.DataFrame(zz["Age Ranges"].value_counts())
zz["Average Purchase Price"] = abc.groupby("Age Ranges")["Price"].mean()
zz["Total Purchase Value"] = abc.groupby("Age Ranges")["Price"].sum()

# Average Purchase Total per Person by Age Group
abcd = pd.DataFrame(abc.groupby("SN")["Price"].sum())
abcd = abcd.reset_index()
abcd = abcd.merge(abc[["SN", "Age"]], on="SN", how="left").drop_duplicates("SN")
abcd["Age Ranges"] = pd.cut(abcd["Age"], bins, labels=age_labels)
zz["Avg Total Purchase per Person"] = abcd.groupby("Age Ranges")["Price"].mean()

# Sort on Index and Display with styling
zz = zz.sort_index()
zz.style.format(style_dict)

In [9]:
# Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Most Popular Items

# SN
a = pd_df.groupby("SN").sum()
a = a.sort_values(by="Price", ascending=False).head(5)
list = ["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"]

# Purchase Count - Grouped by SN, Sorted on highest Purchase count
c = pd_df.set_index("SN")
c = c.loc[list, :]
c = c.groupby("SN")["Purchase ID"].count()
c

# Average Purchase Price
d = pd.merge(a, c, on="SN")
d


d["Average Purchase Price"] = (d["Price"] / d["Purchase ID_y"])
d = d.rename(columns={"Purchase ID_y": "Purchase Count", "Price": "Total Purchase Value"})
d = d[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
d = pd.DataFrame(d)
d.style.format(style_dict)

In [10]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
# Most Profitable Items

# Calculations 
item_name = pd_df.groupby("Item Name").count()
pop_items = item_name.sort_values(by="Purchase ID", ascending=False)
pop_items = pop_items.reset_index()

item_price = pd_df.groupby("Item Name")["Price"].sum()
e = item_price.loc[pop_items["Item Name"]]
pop_items = pd.merge(pop_items, e, on="Item Name")

# Put Item ID & Item Price back into pop_items table for items
#     Find right item name and match columns

item_ids = pd_df.groupby("Item Name")["Item ID"].first()
item_prices = pd_df.groupby("Item Name")["Price"].first()

pop_items = pd.merge(pop_items, item_ids, on="Item Name")
pop_items = pd.merge(pop_items, item_prices, on="Item Name")

# Column Manipulation
most_pop_items = pop_items[["Item ID_y", "Item Name", "Purchase ID", "Price", "Price_y"]]

most_pop_items = most_pop_items.rename(columns={
    "Item ID_y": "Item ID",
    "Purchase ID": "Purchase Count",
    "Price": "Item Price",
    "Price_y": "Total Purchase Value"
})

# Set Index to Item ID
most_pop_items = most_pop_items.set_index('Item ID')

# Sorting and Displaying
most_pop_items = most_pop_items.sort_values(by=["Purchase Count", "Item ID"], ascending=False)
most_pop_items.head(5).style.format(style_dict)

In [11]:
# Most Profitable Items
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame
most_prof_items = most_pop_items
most_prof_items = most_prof_items.sort_values(by="Total Purchase Value", ascending=False)
most_prof_items.head(5).style.format(style_dict)

In [ ]:
# Observations:
# 1. Appeal to 20-24 year olds. Something about this game appeals to this segment! Almost half of all revenue comes from this age range.
# 2. Males make up the majority of players, more than 4 out of 5 players are Male, and will buy more of the items (average purchase price ~$3) but the other ~20% will buy higher priced items (average purchase price ~$3.50)
# 3. Higher priced items are bought more. 4 out of the 5 top items are over $4.50.

In [15]:
# Wrap Up--
# Was definitely a challenge and definitely a blast!
# By the end of it, I realized I could have used some of the same tables for unique users vs total users to calculate some things. I was definitely in variable hell.
# Feel very good about dataframes and tracing errors and using different objects with them.
# Good Day! :D